html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    margin: 0px;
}

.panel-list .dx-list-item {
    color: #fff;
    border-top: 1px solid rgba(221, 221, 221, .2);
}

.sx-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sx-page-error{
    background-color:red;
}